body {
  box-sizing: border-box;
  background: linear-gradient(260deg, #246655, #b78e39);
  background-size: 120% 120%;
  margin-top: 5rem;

  -webkit-animation: gradient 30s ease infinite;
  -moz-animation: gradient 30s ease infinite;
  animation: gradient 30s ease infinite;

}

@-webkit-keyframes gradient {
  0%   { background-position:84% 0%; }
  50%  { background-position: 17% 100%; }
  100% { background-position: 84% 0%; }
}

@-moz-keyframes gradient {
  0%   { background-position: 84% 0%; }
  50%  { background-position: 17% 100%; }
  100% { background-position: 84% 0%; }
}

@keyframes gradient { 
  0%   { background-position: 84% 0%; }
  50%  { background-position: 17% 100%;}
  100% { background-position: 84% 0%; }
}

h1, h2 {
  text-align: center;
  color: white;
}


.button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

button {
  height: 3rem;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 2rem;
  border: 2px solid #b78e39;
  border-radius: 5px;
  background: #2e947a;
  color: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  flex-basis: 15rem;
  min-height: 8rem;

}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}



span {
  display: block;
}

#s1, #s3 {
  display: none;
}
