@import url('../SharedStyle.css');

.TodoCard {
  display: flex;
  flex-flow: column;
  position: relative;
  height: 100%;
  padding: 5px;
  background: var(--light-white);
  color: var(--charcoal);
  transition: color .2s ease-in;
}

.TodoCard:hover {
  cursor: pointer;
  color: var(--light-grey);
}

.TodoCard.isComplete {
  color: var(--light-grey);
  text-decoration: line-through;
}

.date {
  text-align: right;
  font-size: 12px;
  padding-right: 10px;
}

.todo {
  font-size: 23px;
}

.comment {
  font-size: 12px;
  justify-self: flex-end;
}